.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/.sentry-native
Package.resolved
/vendor
*.nupkg

installer/*.dll
installer/*.exe*
installer/Info.plist